# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lockb
dist/
.DS_Store

# Logs
logs/
*.log
log/

# Env files
.env
.env.*.local

# Session files and sensitive data
sessions/
data/precisions.json
data/signals.txt

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# System files
Thumbs.db
*.tmp
*.bak
*.old

# Git-specific files
.git/
.gitignore